AWS_PROFILE="XXX"
AWS_DEFAULT_REGION="us-east-1"
AWS_REGION="us-east-1"
PROJECT_NAME = 'semantic-layer'
KNOWLEDGE_BASE_ID="XXX"
ARTIFACTS_BUCKET="XXX"
NEPTUNE_GATEWAY_URL="XXX"
NEPTUNE_LOAD_ROLE="XXX"
ONTOLOGY_METADATA_TABLE="XXX"
ATHENA_WORKGROUP="XXX"
SEMANTIC_RAG_KB_ID="XXX"
SEMANTIC_RAG_DATA_SOURCE_ID="XXX"
S3T_CATALOG="s3tablescatalog/semantic-layer-analytics-tables"
S3T_DATABASE="normalized"
DYNAMODB_CATALOG="dynamodb_catalog"
DYNAMODB_DATABASE="default"
